@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Nunito' !important; 
}

/* width */
.costum-scroll::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.costum-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.costum-scroll::-webkit-scrollbar-thumb {
  background: #ffffff00;
}

/* Handle on hover */
.costum-scroll::-webkit-scrollbar-thumb:hover {
  background: #999999; 
}